.contact{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:80px;
    margin:80px 170px;
}

.contact-title{
    position:relative
}

.contact-title h1{
    padding: 0 30px;
    font-size: 72px;
}

.contact-section{
    display:flex;
    gap:150px
}

.contact-left{
    display:flex;
    flex-direction: column;
    gap:30px
}

.contact-left p{
    max-width:550px;
}

.contact-details{
    display:flex;
    flex-direction: column;
    gap:20px;

}

.contact-detail{
    display:flex;
    align-items:center;
    gap:10px;
}


.contact-right{
    display:flex;
    flex-direction: column;
    align-items: start;
    gap:30px;
}

.contact-right label{
    font-weight: 500;
}

.contact-right input{
    border:none;
    width:700px;
    height:78px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: rgb(240, 194, 246, 0.3);
}

.contact-right textarea{
    width: 450px;
    border: none;
    padding:25px;
    border-radius: 10px;
    background-color: rgb(240, 194, 246, 0.3);
    font-family: Montserrat;
}

.contact-submit{
    margin-top: 50px;
    background-color: #4949fe;
    border: none;
    border-radius:50px;
    color:white;
    font-size:1.3rem;
    padding:10px 30px;
    transition: 0.4s;
    font-family: Montserrat;
}

@media(max-width:320px){
    .contact{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:10px;
        margin-bottom: 40px;
        margin-top:10px;
        margin-right:0px;
        margin-left:20px;
    }

    .contact-section{
        display:flex;
        flex-direction: column;
        max-width:300px;
        gap:100px
    }

    .contact-left{
        display:flex;
        max-width:300px;
        flex-direction: column;
        gap:30px;
        align-items: center;
        text-align: center;
        margin-right:10px
    }

    .contact-left p{
        max-width:300px;
        font-size:18px;
    }

    .contact-detail{
        display:flex;
        align-items:center;
        gap:10px;
    }

    .contact-details{
        display:flex;
        flex-direction: column;
        gap:10px;
    
    }
    
    .contact-right input{
        border:none;
        max-width:260px;
        height:78px;
        border-radius: 10px;
        background-color: rgb(240, 194, 246, 0.3);
    }

    .contact-right textarea{
        max-width: 230px;
        border: none;
        border-radius: 10px;
        background-color: rgb(240, 194, 246, 0.3);
        font-family: Montserrat;
    }
    .contact-submit{
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: #4949fe;
        border: none;
        border-radius:50px;
        color:white;
        font-size:18px;
        padding:10px 20px;
        transition: 0.4s;
        font-family: Montserrat;
    }
       
}

@media(max-width:360px){
    .contact{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:10px;
        margin-bottom: 40px;
        margin-top:10px;
        margin-right:0px;
        margin-left:20px;
        text-align: center;
    }

    .contact-section{
        display:flex;
        flex-direction: column;
        max-width:300px;
        gap:100px
    }

    .contact-left{
        display:flex;
        max-width:300px;
        flex-direction: column;
        gap:30px;
        align-items: center;
        text-align: center;
        margin-right:10px
    }

    .contact-left p{
        max-width:300px;
        font-size:18px;
    }

    .contact-detail{
        display:flex;
        align-items:center;
        gap:10px;
    }

    .contact-details{
        display:flex;
        flex-direction: column;
        gap:10px;
    
    }
    
    .contact-right input{
        border:none;
        max-width:260px;
        height:78px;
        border-radius: 10px;
        background-color: rgb(240, 194, 246, 0.3);
    }

    .contact-right textarea{
        max-width: 230px;
        border: none;
        border-radius: 10px;
        background-color: rgb(240, 194, 246, 0.3);
        font-family: Montserrat;
    }
    .contact-submit{
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: #4949fe;
        border: none;
        border-radius:50px;
        color:white;
        font-size:18px;
        padding:10px 20px;
        transition: 0.4s;
        font-family: Montserrat;
    }
       
}

@media(max-width:420px){
    .contact{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:10px;
        margin-bottom: 40px;
        margin-top:10px;
        margin-right:0px;
        margin-left:20px;
        text-align: center;
    }

    .contact-section{
        display:flex;
        flex-direction: column;
        max-width:300px;
        gap:100px
    }

    .contact-left{
        display:flex;
        max-width:300px;
        flex-direction: column;
        gap:30px;
        align-items: center;
        text-align: center;
        margin-right:10px
    }

    .contact-left p{
        max-width:300px;
        font-size:20px;
    }

    .contact-detail{
        display:flex;
        align-items:center;
        gap:10px;
    }

    .contact-details{
        display:flex;
        flex-direction: column;
        gap:10px;
    
    }
    
    .contact-right input{
        border:none;
        max-width:280px;
        height:78px;
        border-radius: 10px;
        background-color: rgb(240, 194, 246, 0.3);
    }

    .contact-right textarea{
        max-width: 250px;
        border: none;
        border-radius: 10px;
        background-color: rgb(240, 194, 246, 0.3);
        font-family: Montserrat;
    }
    .contact-submit{
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: #4949fe;
        border: none;
        border-radius:50px;
        color:white;
        font-size:18px;
        padding:10px 20px;
        transition: 0.4s;
        font-family: Montserrat;
    }

    .contact-right label{
        font-size:22px;
    }
       
    .contact-right{
        align-items:center;
    }
}

@media(max-width:460px){
    .contact{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:10px;
        margin-bottom: 40px;
        margin-top:10px;
        margin-right:0px;
        margin-left:20px;
        text-align: center;
    }

    .contact-section{
        display:flex;
        flex-direction: column;
        max-width:300px;
        gap:100px
    }

    .contact-left{
        display:flex;
        max-width:300px;
        flex-direction: column;
        gap:30px;
        align-items: center;
        text-align: center;
        margin-right:10px
    }

    .contact-left p{
        max-width:300px;
        font-size:20px;
    }

    .contact-detail{
        display:flex;
        align-items:center;
        gap:10px;
    }

    .contact-details{
        display:flex;
        flex-direction: column;
        gap:10px;
    
    }
    
    .contact-right input{
        border:none;
        max-width:320px;
        height:78px;
        border-radius: 10px;
        background-color: rgb(240, 194, 246, 0.3);
    }

    .contact-right textarea{
        max-width: 290px;
        border: none;
        border-radius: 10px;
        background-color: rgb(240, 194, 246, 0.3);
        font-family: Montserrat;
    }
    .contact-submit{
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: #4949fe;
        border: none;
        border-radius:50px;
        color:white;
        font-size:18px;
        padding:10px 20px;
        transition: 0.4s;
        font-family: Montserrat;
    }

    .contact-right label{
        font-size:22px;
    }
       
    .contact-right{
        align-items:center;
    }
}

@media(max-width:480px){
    .contact{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:10px;
        margin-bottom: 40px;
        margin-top:10px;
        margin-right:0px;
        margin-left:20px;
        text-align: center;
    }

    .contact-section{
        display:flex;
        flex-direction: column;
        max-width:300px;
        gap:100px
    }

    .contact-left{
        display:flex;
        max-width:300px;
        flex-direction: column;
        gap:30px;
        align-items: center;
        text-align: center;
        margin-right:10px
    }

    .contact-left p{
        max-width:300px;
        font-size:20px;
    }

    .contact-detail{
        display:flex;
        align-items:center;
        gap:10px;
    }

    .contact-details{
        display:flex;
        flex-direction: column;
        gap:10px;
    
    }
    
    .contact-right input{
        border:none;
        max-width:320px;
        height:78px;
        border-radius: 10px;
        background-color: rgb(240, 194, 246, 0.3);
    }

    .contact-right textarea{
        max-width: 290px;
        border: none;
        border-radius: 10px;
        background-color: rgb(240, 194, 246, 0.3);
        font-family: Montserrat;
    }
    .contact-submit{
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: #4949fe;
        border: none;
        border-radius:50px;
        color:white;
        font-size:18px;
        padding:10px 20px;
        transition: 0.4s;
        font-family: Montserrat;
    }

    .contact-right label{
        font-size:22px;
    }
       
    .contact-right{
        align-items:center;
    }
}

@media(max-width:992px){
    .contact{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:80px;
        margin:80px 120px;
    }
    
    .contact-title{
        position:relative
    }
    
    .contact-title h1{
        padding: 0 30px;
        font-size: 72px;
    }
    
    .contact-section{
        display:flex;
        gap:150px
    }
    
    .contact-left{
        display:flex;
        flex-direction: column;
        gap:30px
    }
    
    .contact-left p{
        max-width:500px;
    }
    
    .contact-details{
        display:flex;
        flex-direction: column;
        gap:20px;
    
    }
    
    .contact-detail{
        display:flex;
        align-items:center;
        gap:10px;
    }
    
    
    .contact-right{
        display:flex;
        flex-direction: column;
        align-items: start;
        gap:30px;
    }
    
    .contact-right label{
        font-weight: 500;
    }
    
    .contact-right input{
        border:none;
        width:500px;
        height:78px;
        padding-left: 20px;
        border-radius: 10px;
        background-color: rgb(240, 194, 246, 0.3);
    }
    
    .contact-right textarea{
        width: 470px;
        border: none;
        padding:25px;
        border-radius: 10px;
        background-color: rgb(240, 194, 246, 0.3);
        font-family: Montserrat;
    }
    
    .contact-submit{
        margin-top: 50px;
        background-color: #4949fe;
        border: none;
        border-radius:50px;
        color:white;
        font-size:1.3rem;
        padding:10px 30px;
        transition: 0.4s;
        font-family: Montserrat;
    }
}