.card{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 0 170px;
    margin-top:0;
    margin-bottom:2em;
}

.card-text{
    width:70em;
    margin-right: 30px;
}

.card-text h1{
    font-size: 60px;
    font-weight: 500;
}

.card-text p {
    line-height: 28px;
    font-size:24px;
}
.card-text span{
    font-weight: 500;
    color:#3d3df1;
}
.card-img iframe{
    width: 600px;
    border-radius: 20px;
    transition: 0.4s;
    height:337.5px;
}

.card-img iframe:hover{
    transform: scale(1.1);
    transition: 0.4s;
}

@media(max-width:768px){
    .card{
        display:flex;
        flex-direction: column;
        margin-right: 15px;
        margin-left:28px
    }

    .card-img{
        margin-top: 30px
    }

    .card-text{
        max-width:700px;
        margin-right:0;
    }

    .card h1{
        font-size:30px;
    }

    .card p{
        font-size:18px;
    }

    .card-text p {
        line-height: 35px;
    }
}

@media(max-width:480px){
    .card-text{
        max-width:400px;
        margin-right: 20px;;
    }

    .card-img iframe{
        width: 400px;
        border-radius: 20px;
        transition: 0.4s;
        margin-left:0px;
        margin-right: 24px;
        height:225px
    }
}