body{
    font-family: Montserrat;
    background: linear-gradient(to bottom right, 
    #f0f4ff, /* Light blue */
    #fff0f0, /* Light pink */
    #f0fff0, /* Light green */
    #fff9f0  /* Light yellow */);
    margin:0px;
    padding: 0px;

}
p{
  font-size:20px;
}
